<div class="card">
    <div class="card-body">
        <h1>about</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe laborum aperiam doloremque
            doloribus labore et consectetur fuga hic fugit, eos officiis exercitationem aut veniam,
            aliquam sunt autem maiores! Voluptate itaque repellat natus dolores quia aut, voluptates
            recusandae quaerat quasi reprehenderit?</p>
    </div>
</div>