<div class="jumbotron mt-4">
    <h1 class="display-4">Note App Node.js y MongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores magnam necessitatibus enim optio cupiditate natus eum harum soluta itaque, earum eaque sit, veritatis fuga consectetur saepe, a architecto hic alias!</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam harum ab hic corporis porro, sunt voluptatem, dolor modi molestias repellendus unde ullam magnam provident temporibus deserunt doloremque tenetur quis beatae.</p>
    <a href="https://nodejs.org/es" class="btn btn-primary btn-lg">NodeJs</a>
</div>